<div class="logo-body">
  <div class="bar-container">
    <div class="logo-container">
      <%= image_tag("logo.png", class: "logo-size") %>
      <span class="logo-title">SongFlow</span>
    </div>
    <%# this is for the random songs %>
    <button type="button" class="btn game-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <span class="game-title">INSPIRE ME</span>
    </button>
    <%# end of the random songs redirect %>
  </div>
</div>
<div class="nav-container">
  <div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Suggested</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">My Songs</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">My Profile</button>
      </li>
    </ul>
  </div>
  <div class="nav-content">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="homepage-suggested-box">
          <div class="tab-content-item">
            <h1>Recently Added</h1>
            <h2>See All</h2>
          </div>
          <div class="homepage-song-conatiner">
            <% @recent_songs.each do |song| %>
              <%= link_to song_path(song) do %>
                <div class="homepage-song-content">
                  <%= image_tag song.photo_url, class: "homepage-song-img", crop: :fill %>
                  <div class="homepage-song-title-box">
                    <span class="homepage-song-title"><%= song.title %></span>
                    <span class="homepage-song-artist"><%= song.artist.name %></span>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="homepage-suggested-box">
          <div class="tab-content-item">
            <h1>Popular Songs</h1>
            <h2>See All</h2>
          </div>
          <div class="homepage-song-conatiner">
            <% @recent_bookmarks.each do |bookmark| %>
              <%= link_to song_path(bookmark.song ) do %>
                <div class="homepage-song-content">
                  <%= image_tag bookmark.song.photo_url, class: "homepage-song-img", crop: :fill %>
                  <div class="homepage-song-title-box">
                    <span class="homepage-song-title"><%= bookmark.song.title %></span>
                    <span class="homepage-song-artist"><%= bookmark.song.artist.name %></span>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="homepage-suggested-box">
          <div class="tab-content-item">
            <h1>Top 10 Easy Songs For Beginners</h1>
            <h2>See All</h2>
          </div>
          <div class="homepage-song-conatiner">
            <% @recent_bookmarks.reverse.each do |bookmark| %>
              <%= link_to song_path(bookmark.song ) do %>
                <div class="homepage-song-content">
                  <%= image_tag bookmark.song.photo_url, class: "homepage-song-img", crop: :fill %>
                  <div class="homepage-song-title-box">
                    <span class="homepage-song-title"><%= bookmark.song.title %></span>
                    <span class="homepage-song-artist"><%= bookmark.song.artist.name %></span>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <% @recent_bookmarks.each do |bookmark| %>
          <div class="bookmark-row">
            <%= link_to song_path(bookmark.song), class: "playlist-card-link" do %>
              <%= image_tag bookmark.song.photo_url, class: "bookmark-img", crop: :fill %>
              <div class="card-product-infos bookmark-title">
                <h3><%= bookmark.song.title %></h3>
                <span class="bookmark-artist"><%= bookmark.song.artist.name %></span>
                <%= render "shared/seshes",
            avg_song_difficulty: bookmark.avg_song_difficulty,
            avg_hype_number: bookmark.avg_hype_number,
            number_times_sang: bookmark.number_times_sang
            %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <div class="container">
          <div class="profile-container">
            <%= image_tag "user1.png", class: "profile-image" %>
            <h1><%= current_user.first_name%> <%= current_user.last_name %></h1>
            <h2>@<%= current_user.user_name %></h2>
            <h3><%= current_user.email %></h3>
            <p class="text-center"><%= current_user.description %></p>
            <%# <%= link_to "Log out", destroy_user_session_path(current_user), class: "logout-button" %>
            <%= link_to "Log out",
              destroy_user_session_path,
              data: {turbo_method: :delete}, class: "logout-button"
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- Modal for the random songs button! -->
<div class="modal fade game-modal-conatiner" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class=" d-flex justify-content-center align-items-center vh-100">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Random Songs Generator</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= link_to random_song_path class: "" do %>
            <button class="button-27 button-27-title" role="button">Hype</button>
          <% end %>
          <%= link_to random_song_path, class: "" do %>
            <button class="button-27 button-27-title" role="button">Easy</button>
          <% end %>
          <%= link_to random_song_path, class: "" do %>
            <button class="button-27 button-27-title" role="button">Challenge</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
