<!-- Modal -->
<div class="modal fade" id="sesh-<%= bookmark.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class=" d-flex justify-content-center align-items-center vh-100">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [bookmark, @sesh] do |f| %>
            <div class="sesh-form-container">
              <%= f.input :difficulty,as: :range, input_html: {id: "difficulty-sesh", min: 1, max: 5}%>
              <div class="d-flex flex-direction-row justify-content-between bar-number">
                <p class="bar-number-one">1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p class="bar-number-five">5</p>
              </div>
              <%= f.input :hype_number, as: :range, input_html: {id: "hype-sesh", min: 1, max: 5} %>
              <div class="d-flex flex-direction-row justify-content-between bar-number">
                <p class="bar-number-one">1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p class="bar-number-five">5</p>
              </div>
              <%= f.submit class: 'create_btn btn-primary', value: "Save" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
