  <% if user_signed_in? %>
  <div class="footer">
    <li class="footer_item footer_item_home">
      <%= link_to user_homepage_index_path(current_user), class: "nav-link" do %>
        <% current_page?(user_homepage_index_path(current_user), action: "index") ? icon_class = "icon-grey" : icons_class = "" %>
        <i class="fa-solid fa-house <%= icon_class %>"></i>
        <p class="<%= icon_class %>"></p>
      <% end %>
      <li class="footer_item">
        <%= link_to user_playlists_path(current_user), class: "nav-link" do %>
          <% current_page?(user_playlists_path(current_user), action: "index") ? icon_class = "icon-grey" : icons_class = "" %>
          <i class="fa-solid fa-list-ul <%= icon_class %> "></i>
          <p class="<%= icon_class %>"></p>
        <% end %>
      </li>
      <li class="footer_item footer_item_map">
        <%= link_to places_path, class: "nav-link" do %>
          <% current_page?(places_path, action: "index") ? icon_class = "icon-grey" : icons_class = "" %>
          <i class="fa-solid fa-location-dot <%= icon_class %>"></i>
          <p class="<%= icon_class %>"></p>
        <% end %>
      </li>
      <li class="footer_item footer_item_search_songs">
        <%= link_to songs_path, class: "nav-link" do %>
          <% current_page?(songs_path, action: "index") ? icon_class = "icon-grey" : icons_class = "" %>
          <i class="fa-solid fa-magnifying-glass <%= icon_class %>"></i>
          <p class="<%= icon_class %>"></p>
        <% end %>
      </li>
    </div>
  <% end %>
