  <% songs.each do |song| %>
  <div class="search-contianer">
    <%= link_to song_path(song), class: 'song-card-link' do %>
      <%= image_tag song.photo_url, height: 100, crop: :fill, class: "search-song-img" %>
      <div class="card-product-infos song-bookmark-title">
        <div class="search-song-container">
          <div class="search-song-title-container">
            <span class="search-song-title"><%= song.title %></span>
            <span class="search-song-artist-name"><%= song.artist.name %></span>
          </div>
        </div>
      </div>
    <% end %>
    <div data-controller="toggle-play" class="play-btn">
      <i class="fa-solid fa-circle-play fa-circle-play-size" data-action="click->toggle-play#toggle">
        <audio controls class="d-none" data-toggle-play-target="audio">
          <source src=<%= song.audio_url %> type="audio/ogg">
        </audio>
      </i>
    </div>
  </div>
<% end %>
