<%= link_to songs_path() do %>
  <i class="fa-solid fa-less-than"></i>
<% end %>
<div class="song-page-container">
  <%= image_tag @song.photo_url, height: 360, crop: :fill, class: "song-image" %></li>
<div class="song-info-title-name">
  <p><i class="fa-solid fa-record-vinyl fa-solid-song-info" style="color: #ffffff;"></i><%= @song.title %></p>
  <p><i class="fa-solid fa-user fa-solid-song-info" style="color: #ffffff;"></i><%= @song.artist.name %></p>
</div>
<button type="button" class="song-create_btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add to playlist
</button>
</div>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% current_user.playlists.each do |playlist| %>
          <%= simple_form_for [@bookmark] do |f| %>
            <%= f.association :playlist, as: :hidden, input_html: { value: playlist.id }%>
            <%= f.association :song, as: :hidden, input_html: { value: @song.id }%>
            <%= playlist.name %>
            <%= f.button :button do %>
              <i class="fa-solid fa-plus" style="color: #000000;"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
