<%= link_to url_for(:back) do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>
<div class="song-page-container">
  <%= image_tag @song.photo_url, height: 360, crop: :fill, class: "song-image" %></li>
<div class="song-info-title-name">
  <p><i class="fa-solid fa-record-vinyl fa-solid-song-info" style="color: #ffffff;"></i><%= @song.title %></p>
  <p><i class="fa-solid fa-user fa-solid-song-info" style="color: #ffffff;"></i><%= @song.artist.name %></p>
  <div data-controller="toggle-play" class="play-btn">
    <i class="fa-solid fa-circle-play fa-circle-play-size" data-action="click->toggle-play#toggle">
      <audio controls class="d-none" data-toggle-play-target="audio">
        <source src=<%= @song.audio_url %> type="audio/ogg">
      </audio>
    </i>
  </div>
</div>
<div class="song-create-btn-container">
  <button type="button" class="song-create_btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <% if @song.playlists.where(user: current_user).exists? %>
      View Playlists
    <% else %>
      Add To Playlist
    <% end %>
  </button>
  <div class="song-create_btn">
    play
  </div>
</div>
</div>
<%# add something %>
<%# <div class="container"> %>
<div class="lyrics-card-container">
  <% if @song.lyrics.present? %>
    <p><%= @song.lyrics.gsub(/\n/, "<br/>").html_safe %></p>
  <% else %>
    <p>No lyrics available for this song.</p>
  <% end %>
</div>
<%# </div> %>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-container">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">My Playlists</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% current_user.playlists.each do |playlist| %>
            <% if playlist.songs.where(id: @song.id).exists? %>
              <div class="d-flex justify-content-between align-items-center add-to-playlist-form-if-exist">
                <%= playlist.name %>
                <i class="fa-solid fa-check" style="color: #ffffff;"></i>
              </div>
            <% else %>
              <%= simple_form_for [@bookmark] do |f| %>
                <%= f.association :playlist, as: :hidden, input_html: { value: playlist.id }%>
                <%= f.association :song, as: :hidden, input_html: { value: @song.id }%>
                <div class="d-flex justify-content-between add-to-playlist-form">
                  <span class="title"><%= playlist.name %></span>
                  <%= f.button :button do %>
                    <i class="fa-solid fa-plus" style="color: #000000;"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
