<div class="container">
  <div class="header">
    <h1>My playlist</h1>
    <i class="fa-solid fa-plus fa-solid-plus-icon" style="color: #ffffff;"></i>
  </div>
  <% @playlists.each do |playlist| %>
    <%= link_to playlist_path(playlist) do  %>
      <div class="card-product my-2">
        <% if playlist.photo.attached? %>
          <%= cl_image_tag playlist.photo.key, height: 100, crop: :fill %>
        <% else %>
          <p>No photo attached</p>
        <% end %>
        <div class="card-product-infos">
          <h2><%= playlist.name %></h2>
          <%= link_to playlist_path(playlist),
            method: :delete,
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash trash-can" style="color: #dd8d31;"></i>
          <% end %>
          <%= link_to edit_playlist_path(playlist) do %>
            <i class="fa-regular fa-pen-to-square" style="color: #007bff;"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
