<div class="container my-playlist-container">
  <div class="header">
    <h1>My Playlists</h1>
  </div>
  <span class="playlist-count"><%= current_user.playlists.count %> playlists</span>
  <div class="add-list-btn" data-bs-toggle="modal" data-bs-target="#new-playlist-form">
    <i class="fa-solid fa-circle-plus" style="color: #FF9235;"></i>
    <span class="add-list-btn-title">Add New playlist</span>
  </div>
  <% @playlists.each do |playlist| %>
    <%= link_to playlist_path(playlist) do  %>
      <div class="card-product">
        <% if playlist.photo.attached? %>
          <%= cl_image_tag playlist.photo.key, height: 100, crop: :fill %>
        <% else %>
          <p>No photo attached</p>
        <% end %>
        <div class="song-title-card">
          <h2><%= playlist.name %></h2>
          <p class="song-count"><%= playlist.songs.count %> songs</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<!-- Modal -->
<div class=" d-flex justify-content-center align-items-center vh-100">
  <div class="modal fade" id="new-playlist-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" d-flex justify-content-center align-items-center vh-100">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Playlist</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body formplaylist">
            <%= simple_form_for [@new_playlist] do |f| %>
              <%= f.input :name, label_html: { class: "form-label" } %>
              <%= f.input :photo, as: :file, label_html: { class: "form-label" } %>
              <%= f.submit class: 'create_btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
