<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-playlist-form">
  <%= link_to user_playlists_path(current_user) do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</button>
<!-- Modal -->
<div class="modal fade" id="new-playlist-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Playlist</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="create-container">
          <%= simple_form_for [@playlist] do |f| %>
            <%= f.input :name, label_html: { class: "form-label" } %>
            <%= f.input :photo, as: :file, label_html: { class: "form-label" } %>
            <%= f.submit class: 'create_btn btn-primary' %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
