<%= link_to user_playlists_path(current_user) do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>
<div class="playlist-container">
  <div class="card-img-top">
    <% if @playlist.photo.attached? %>
      <%= cl_image_tag @playlist.photo.key, class: "card-img-top", crop: :fill %>
    <% else %>
      <p>No photo attached</p>
    <% end %>
  </div>
  <h5><%= @playlist.name %></h5>
  <p class="song-count"><%= @playlist.songs.count %> songs</p>
  <div class="playlist-btn-container">
    <div class="playlist-btn">
      <div class="playlist-btn-item">
        <%= link_to edit_playlist_path(), class: "playlist-btn-edit" do %>
          <i class="fa-regular fa-pen-to-square playlist-btn"></i>
          <p>Edit Playlist</p>
        <% end %>
      </div>
      <div class="playlist-btn-item">
        <%= link_to playlist_path(@playlist),
              method: :delete,
              class: "playlist-btn-delete",
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash-can playlist-btn"></i>
          <p>Delete</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="bookmark-container">
    <div class="song-container">
      <h1>Songs</h1>
    </div>
    <% @playlist.bookmarks.each do |bookmark| %>
      <%= link_to song_path(bookmark.song), class: "playlist-card-link" do %>
        <div class="bookmark-row">
          <%= image_tag bookmark.song.photo_url, class: "bookmark-img", crop: :fill %>
          <div class="card-product-infos bookmark-title">
            <h3><%= bookmark.song.title %></h3>
            <span class="bookmark-artist"><%= bookmark.song.artist.name %></span>
            <%= render "shared/seshes",
            avg_song_difficulty: bookmark.avg_song_difficulty,
            avg_hype_number: bookmark.avg_hype_number,
            number_times_sang: bookmark.number_times_sang
            %>
          </div>
        <% end %>
        <%# navbar start %>
        <div>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item add-sesh-item" href="#">
                <div class="form-sesh add-sesh-item" data-bs-toggle="modal" data-bs-target="#sesh-<%= bookmark.id %>">Rate The Song</div>
              </a>
            </li>
            <li><a class="dropdown-item add-sesh-item" href="#">Delete</a></li>
            <%# <li><a class="dropdown-item" href="#">Something else here</a></li> %>
          </ul>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </a>
          <%# navbar end %>
        </div>
      </div>
      <%= render "seshes/form", bookmark: bookmark %>
    <% end %>
  </div>
</div>
</div>
