<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card" >
        <% if @playlist.photo.attached? %>
          <%= cl_image_tag @playlist.photo.key, class: "card-img-top", crop: :fill %>
        <% else %>
          <p>No photo attached</p>
        <% end %>
        <div class="card-body">
          <h5 class="text-center" class="card-title"><%= @playlist.name %></h5>
        </div>
        <% @playlist.bookmarks.each do |bookmark| %>
          <div class="card-product playlist-song-card">
            <%= image_tag bookmark.song.photo_url, crop: :fill %>
            <div class="card-product-infos">
              <h2><%= bookmark.song.title %></h2>
              <%= link_to song_path(bookmark.song),
            method: :delete,
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-trash trash-can" style="color: #dd8d31;"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
