<%= link_to user_playlists_path(current_user) do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>
<div class="playlist-container">
  <div class="card-img-top">
    <% if @playlist.photo.attached? %>
      <%= cl_image_tag @playlist.photo.key, class: "card-img-top", crop: :fill %>
    <% else %>
      <p>No photo attached</p>
    <% end %>
  </div>
  <h5><%= @playlist.name %></h5>
  <p class="song-count">240 songs</p>
  <div class="playlist-btn-container">
    <div class="playlist-btn">
      <div class="playlist-btn-item">
        <%= link_to edit_playlist_path(), class: "playlist-btn-edit" do %>
          <i class="fa-regular fa-pen-to-square playlist-btn"></i>
          <p>Edit Playlist</p>
        <% end %>
      </div>
      <div class="playlist-btn-item">
        <%= link_to playlist_path(@playlist),
              method: :delete,
              class: "playlist-btn-delete",
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash-can playlist-btn"></i>
          <p>Delete</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="bookmark-container">
    <div class="song-container">
      <h1>Songs</h1>
    </div>
    <div>
      <% @playlist.bookmarks.each do |bookmark| %>
        <%= link_to song_path(bookmark.song), class: "playlist-card-link" do %>
          <div class="bookmark-row">
            <%= image_tag bookmark.song.photo_url, class: "bookmark-img", crop: :fill %>
            <div class="card-product-infos bookmark-title">
              <h3><%= bookmark.song.title %></h3>
              <span class="bookmark-artist"><%= bookmark.song.artist.name %></span>
            </div>
            <%# navbar start %>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item add-sesh-item" href="#">Delete</a></li>
              <li><a class="dropdown-item add-sesh-item" href="#">
                  <div class="form-sesh" data-bs-toggle="modal" data-bs-target="#exampleModal">Add a sesh</div>
                </a>
              </li>
              <%# <li><a class="dropdown-item" href="#">Something else here</a></li> %>
            </ul>
            <%# navbar end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- helloo -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class=" d-flex justify-content-center align-items-center vh-100">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new sesh</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ......... add a form for adding playlist
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
